@tailwind base;
@tailwind components;

.test-border {
  @apply border-red-500 border-2;
}

@tailwind utilities;

@font-face {
  font-family: "action";
  src: url("/fonts/Action_Man.ttf");
}

@font-face {
  font-family: "action-bold";
  src: url("/fonts/Action_Man_Bold.ttf");
}
