@tailwind base;
@tailwind components;

.feature-card {
  @apply h-fit p-4 rounded-b-xl bg-background-secondary bg-opacity-40;
}

@tailwind utilities;

@font-face {
  font-family: "action";
  src: url("/fonts/Action_Man.ttf");
}

@font-face {
  font-family: "action-bold";
  src: url("/fonts/Action_Man_Bold.ttf");
}
